@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
  --primary: #176ede;
  --bg-primary: #fff;
  --bg-secondary: #EDF2F8;
  --bg-terinary: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: var(--bg-secondary);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}


.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.w-100{
  width: 100%;
}

.bg-light{
  background-color: var(--bg-secondary);
  /* width: 100%; */
  padding: 15px;
  margin: 10px 5px !important;
  border-radius: 10px;
}